site_name: ArgoCD Cheatsheet
site_description: A clean and beautiful reference for ArgoCD commands and usage
site_author: Muthukumar

theme:
  name: material
  features:
    - navigation.instant
    - navigation.top
    - navigation.expand
    - content.code.copy
    - content.code.select

nav:
  - Home: index.md
  - Cheatsheet: README.md

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - tables
  - footnotes
  - md_in_html

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/truedevopsmk-lab

